
/* 
CSS Styles
*/

*{
	
	/*font-family:'Pattaya', sans-serif;*/
	font-family: 'Convergence', sans-serif;
	box-sizing: border-box;
	/*border-radius: 15px;*/
}


.cname{

  /* background-color: rgb(186, 221, 194);*/
 
   background-color: rgb(32,112,138);
   height: 120px;
   text-align: center;
   color: white;
   padding-top: 40px;
   font-size: 35px;
   border: 2px dotted white;
  
}



.headingbanners{

   background-color: rgb(32,112,138);
   height: 45px;
   text-align: center;
   color: white;
   padding-top: 4px;
   font-size: 20px;
   border: 2px dotted white;
   margin-top:10px;
  
}

.menu{
	
	background-color: rgb(32,112,138);
	border: 2px dotted white;
	text-align: center;
	border-radius: 15px;
}

.menu a{
	
	color: white;
	display:block;
}

.menu a:hover{
	
	 color: rgb(32,112,138);
	 background-color: rgb(256, 256, 256 );
	 display:block;
}

.box{
	
	 border-style:solid;
	 height:300px;
 
}

.banner{
	
	/*
	background-image:url("../photos/sea.jpg");
	background-repeat:no-repeat;
	*/
	
	background-image:url("../photos/sea.jpeg");
	height:280px;
	width:960px;
	background-repeat:no-repeat;
	margin-top:160px;
	background-attachment:fixed;
	background-size:cover;
	box-sizing:border-box;
	box-shadow:0px 0px 2.5px 2.5px #a0fbf9;
	
	
}

.bannerabout{
	
	/*
	background-image:url("../photos/sea.jpg");
	background-repeat:no-repeat;
	*/
	
	background-image:url("../photos/travelwithus.jpg");
	height:400px;
	width:960px;
	background-repeat:no-repeat;
	margin-top:160px;
	background-attachment:fixed;
	background-size:cover;
	
}


.fixed-footer{
	
	text-align:center;
	height: 100px;
	padding-top: 5px;
	font-size:20px;
	margin-top:10px;
	
}
h2,p{
	
	text-align:center;
	color:white;
}
.clientgrp{
	padding-top:10px;
}

.posfixed{
	position:fixed;
	bottom:250px;
	right:100px;
}

header{
	position:fixed;
	
}

.fixposition{
	padding-top:100px;
}

#aboutus{
	
	padding-top:20px;
	font-size:20px;
	
	
}

.gallery{
	padding-top:10px;
}

.contentstyle{
	color:#088396;
	font-size:20px;
	font-weight: bold;
	/*text-align:justify;*/
	font-family: 'Courier New', monospace;
}
.contactusstyle{
	color:#088396;
	font-size:18px;
	text-align:justify;
	
}

.indeximgbox{
	border:5px solid #088396;
	box-shadow:0px 0px 4px 4px #a0fbf9;
}

input[type],textarea{
	color:#088396;
	border:1px dotted #088396;
}
.borderradius{
	border-radius: 12px;
}
.gallery:hover{
	
	transform:scale(1.01);
}
.services:hover{
	
	transform:scale(1.006);
}